.DS_Store
custom.el~
elpa/
init.el~
network-security.data
settings.org~
.gitignore~
auto-save-list/
transient/
.last-package-update-day
.gitignore~
recent~
emacs.env
*~
#recentf#
.clj-kondo/.cache/
.emacs.desktop
projectile-bookmarks.eld
projectile.cache
recentf
session.*
settings.org_archive
url/
#recentf#
.lsp-session-*