{:linters {:invalid-arity {:skip-args [hitch2.def.halting/defhalting
                                       breeze.quiescent/defcomponent]}} ;; FIXME this skip-args does not seem to be working, maybe it will if i reboot emacs
 :lint-as {hitch2.def.halting/defhalting clojure.core/defn
           breeze.quiescent/defcomponent clojure.core/defn}}
